<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MySql.Data.Entity" version="6.10.4" targetFramework="xamarinios10" />
  <package id="sqlite-net" version="1.0.8" targetFramework="xamarinios10" />
  <package id="sqlite-net-pcl" version="1.4.118" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.8" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.core" version="1.1.8" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.provider.sqlite3.ios_unified" version="1.1.8" targetFramework="xamarinios10" />
  <package id="System.Data.Common" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Threading.Tasks.Extensions" version="4.4.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="2.4.0.74863" targetFramework="xamarinios10" />
  <package id="ZXing.Net.Mobile" version="2.3.2" targetFramework="xamarinios10" />
  <package id="ZXing.Net.Mobile.Forms" version="2.3.2" targetFramework="xamarinios10" />
</packages>